[Desktop Entry]
Name=Settings
Name[it]=Impostazioni
Comment=Appearance, network, sound and ZETA RAYS information
Comment[it]=Aspetto, rete, audio e informazioni di ZETA RAYS
Exec=zeta-impostazioni
Icon=zeta-impostazioni
Terminal=false
Type=Application
Categories=Settings;System;
