[Desktop Entry]
Name=Impostazioni
Comment=Aspetto, rete, audio e informazioni di ZETA RAYS
Exec=zeta-impostazioni
Icon=zeta-impostazioni
Terminal=false
Type=Application
Categories=Settings;System;
