<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>ZETA RAYS OS</vendor>
  <action id="org.zetarays.installer">
    <description>Install ZETA RAYS OS</description>
    <description xml:lang="it">Installa ZETA RAYS OS</description>
    <message>Enter your password to install ZETA RAYS OS on this computer.</message>
    <message xml:lang="it">Inserisci la password per installare ZETA RAYS OS su questo computer.</message>
    <icon_name>zeta-installa</icon_name>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/libexec/zeta-installer</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>
</policyconfig>
